<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.23.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.9.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.9.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.9.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.9.1" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Moq" version="4.20.72" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.IO.Abstractions.TestingHelpers" version="22.1.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions" version="22.1.1" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.TestingHelpers" version="22.1.1" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="22.1.1" targetFramework="net48" />
  <package id="Testably.Abstractions.FileSystem.Interface" version="10.1.0" targetFramework="net48" />
  <package id="xunit.v3" version="3.2.2" targetFramework="net48" />
  <package id="xunit.v3.assert" version="3.2.2" targetFramework="net48" />
  <package id="xunit.v3.common" version="3.2.2" targetFramework="net48" />
  <package id="xunit.v3.core.mtp-v1" version="3.2.2" targetFramework="net48" />
  <package id="xunit.v3.extensibility.core" version="3.2.2" targetFramework="net48" />
  <package id="xunit.v3.mtp-v1" version="3.2.2" targetFramework="net48" />
  <package id="xunit.v3.runner.common" version="3.2.2" targetFramework="net48" />
  <package id="xunit.v3.runner.inproc.console" version="3.2.2" targetFramework="net48" />
</packages>